# Ignore .git folder
.git*
.gitignore

.circleci*
docs*
vendor*
tests*

README.md
README.md.bu
LICENSE
CHANGELOG.md
Makefile
docker-compose.ci.yml

fp-Linux.x86.32-ws.tar.gz
fp-Linux.x86.64-fs.tar.gz
